.collage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.collage-item {
    position: relative;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #333;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
} 
.collage-item:nth-child(odd){
    animation: float 3s ease-in-out infinite;
    animation-delay: 2s;
}

.collage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.collage-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Attractive font */
    font-size: 16px;
}
